@media screen and (min-width: 1024px){
    .sectaprende{
        display: flex;
        height: 600px;
        align-items: center;
        justify-content: center;
        iframe{
            margin-top: 20px;
            height: 600px;
            margin-bottom: 40px;
            width: 90%;
            border-radius: 10px;
        }
    }
}