@media screen and (min-width: 1024px) {
    .navbar-brand{
        padding-right: 15% !important;
    }
    .presentacion{
        margin: 0 15px 20px 15px;
        height: 400px;
        display: $flex;
        flex-direction: row !important;
        justify-content: space-around !important;
        align-items: center;
        iframe{
            width: 40% !important;
            height: 400px !important;
            margin: 0 !important;
            border-radius: $border-radius;
            margin-right: 5px;
        }
        .divpres{
            width: 40% !important;
            height: 400px !important;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background-image: url(../assets/fondopres.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: $border-radius;
            margin-left: 5px;
            h1{
                font-weight: bolder;
                color: $color-secundario;
                text-shadow: 5px 5px 10px $color-primario;
            }
            p{
                font-weight: bolder;
                color: $color-secundario;
                text-shadow: 5px 5px 10px antiquewhite;
            }
        }
    }
    .cuatroindex{
        background-color: $color-secundario;
        border-radius: $border-radius $border-radius 0 0;
        display: flex;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        a{
            img{
                border-radius: $border-radius;
            }
        }
        p{
            color: $color-fuente;
            margin: 0;
            padding: 5px;
        }
    }
}
