@media screen and (min-width: 320px){
    .vidrios{
        background-color: $color-secundario;
        padding: 20px 10px;
        margin: 20px;
        border-radius: 10px;
        section{
            color: $color-fuente;
            img{
                border-radius: 10px;
                margin: 10px 0px;
            }
        }
    }
}